@media only screen and (max-width: 600px) {
    .box {
        width: 150px;
    }
  }

.title{
    color: red;
}

br{
    color: black;
}

.container{
    border-color: black;
}

.jumbotron{
  width: 600px;
  height: 200px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.box {
  width: 150px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  float: right;
}

.box2 {
    width: 150px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    float: left;
  }